body {
  background-color: #faf8ef;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #776e65;
}

#head-paragraph {
  width: 500px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

.score-background {
  background-color: #bbada0;
  position: absolute;
  width: 110px;
  height: 60px;
  top: 70px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  color: #eee4da;
}

.label {
  margin-top: 8px;
}

#best-score,
#current-score {
  font-size: 28px;
}

#left-score-rectangle {
  left: 275px;
}

#right-score-rectangle {
  left: 390px;
}

#game-title {
  position: absolute;
  top: 80px;
  font-size: 72px;
  font-weight: bold;
}

#game-goal {
  position: absolute;
  top: 190px;
  font-size: 18.2px;
}

#new-game-btn {
  background-color: #8f7a66;
  position: absolute;
  top: 182px;
  left: 370px;
  height: 40px;
  width: 130px;
  border-radius: 3px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #eee4da;
}

#new-game-btn:hover {
  cursor: pointer;
}

p {
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: #776e65;
  font-weight: bold;
}

#bottom-paragraph {
  width: 500px;
  height: 500px;
  /* border: dashed blue; */
  margin: 0 auto;
  position: relative;
}

#directions {
  position: absolute;
  top: 40px;
  font-size: 18px;
  line-height: 1.8;
}

#first-horizontal-rule {
  position: absolute;
  top: 130px;
  width: 100%;
  border-top: 1px;
  border-color: #d8d4d0;
}

#disclaimer-note {
  position: absolute;
  top: 165px;
  font-size: 18px;
  line-height: 1.8;
}

#second-horizontal-rule {
  position: absolute;
  top: 220px;
  width: 100%;
  border-top: 1px;
  border-color: #d8d4d0;
}

#signature {
  position: absolute;
  top: 250px;
  font-size: 18px;
  line-height: 1.8;
}

.two {
  background-color: #eee4da;
  color: #776e65;
}

.four {
  background-color: #ede0c8;
  color: #776e65;
}

.eight {
  background-color: #f2b179;
  color: #f9f6f2;
}

.one-six {
  background-color: #f59563;
  color: #f9f6f2;
}

.three-two {
  background-color: #f67c5f;
  color: #f9f6f2;
}

.six-four {
  background-color: #f65e3b;
  color: #f9f6f2;
}

.one-two-eight {
  background-color: #edcf72;
  color: #f9f6f2;
}

.two-five-six {
  background-color: #edcc61;
  color: #f9f6f2;
}

.five-one-two {
  background-color: #edc850;
  color: #f9f6f2;
}

.one-zero-two-four {
  background-color: #edc53f;
  color: #f9f6f2;
}

.two-zero-four-eight {
  background-color: #edc22e;
  color: #f9f6f2;
}

.four-zero-nine-six {
  background-color: #3d3b31;
  color: #b3afac;
}

#board {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

#background-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #b8aea4;
  border-radius: 6px;
  font-size: 0;
  padding: 7.2px;
  box-sizing: border-box;
  position: absolute;
}

.background-square {
  background-color: #cdc1b5;
  color: #857b72;
  text-align: center;
  border-radius: 3px;
  height: 107px;
  width: 107px;
  margin: 7.2px;
  display: inline-block;
}

#overlay-container {
  width: 500px;
  height: 500px;
  border-radius: 6px;
  font-size: 0;
  padding: 7.2px;
  box-sizing: border-box;
  position: absolute;
}

.overlay-box {
  position: absolute;
  font-size: 25px;
  height: 107px;
  width: 107px;
  display: inline-block;
  margin: 7.2px;
  border-radius: 3px;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  text-align: center;
  line-height: 107px;
  font-size: 55px;
  font-weight: bold;
}

#gameover-overlay {
  position: relative;
  font-size: 57.5px;
  font-weight: bold;
  width: 500px;
  top: 200px;
  left: 90px;
  animation: move-up 1.5s 0.5s ease-in-out forwards;
}

.bounce-effect {
  animation: pop-in 0.5s;
}

.merge-effect {
  animation: pop-out 0.1s;
}

.fade-effect {
  animation: fade-out 0.5s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes move-up {
  0% {
    top: 200px;
  }

  100% {
    top: 145px;
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes pop-in {
  0% {
    opacity: 1;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
