body {
  color: #776e65;
  background-color: #faf8ef;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 520px) {
  body {
    width: 280px;
    font-size: 15px;
  }
}

#head-paragraph {
  height: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

@media (max-width: 520px) {
  #head-paragraph {
    height: 140px;
  }
}

#game-title {
  position: absolute;
  font-weight: bold;
  letter-spacing: 2px;

  top: 80px;
  font-size: 80px;
}

@media (max-width: 520px) {
  #game-title {
    top: 35px;
    font-size: 27px;
  }
}

.score-background {
  color: #eee4da;
  background-color: #bbada0;
  position: absolute;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;

  width: 110px;
  height: 60px;
  top: 70px;
}

@media (max-width: 520px) {
  .score-background {
    width: 60px;
    height: 60px;
    top: 15px;
  }
}

.label {
  margin-top: 10px;
  font-size: 13px;
}

#best-score,
#current-score {
  font-size: 28px;
  color: #f9f6f2;
}

@media (max-width: 520px) {
  #best-score,
  #current-score {
    font-size: 25px;
  }
}

#left-score-rectangle {
  left: 275px;
}

#right-score-rectangle {
  left: 390px;
}

@media (max-width: 520px) {
  #left-score-rectangle {
    left: 155px;
  }

  #right-score-rectangle {
    left: 220px;
  }
}

#game-goal {
  position: absolute;
  top: 190px;
  text-align: left;
}

@media (max-width: 520px) {
  #game-goal {
    top: 90px;
    width: 155px;
  }
}

#new-game-btn {
  background-color: #8f7a66;
  position: absolute;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #f9f6f2;

  top: 182px;
  left: 375px;
  height: 40px;
  width: 126px;
  border-radius: 3px;
}

@media (max-width: 520px) {
  #new-game-btn {
    top: 90px;
    left: 165px;
    width: 115px;
    border-radius: 1.5px;
  }
}

#new-game-btn:hover {
  cursor: pointer;
}

p {
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: #776e65;
  font-weight: bold;
}

#bottom-paragraph {
  margin: 0 auto;
  position: relative;
  text-align: left;
  line-height: 1.8;
}

@media (max-width: 520px) {
  #bottom-paragraph {
    line-height: 1.65;
  }
}

#directions {
  margin-top: 40px;
}

#disclaimer-note {
  margin-top: 20px;
}

hr {
  margin-top: 20px;
  border-top: 1px;
  border-color: #d8d4d0;
}

#signature {
  margin-top: 20px;
}

#github-icon {
  text-align: center;
  margin-top: 20px;
}

#board {
  background-color: #b8aea4;
  border-radius: 6px;

  position: relative;
  display: inline-block;
  width: 100%;
  height: 500px;

  box-sizing: border-box;
  padding-top: 7.2px;
  padding-left: 7.2px;

  font-size: 0;
  text-align: left;
}

@media (max-width: 520px) {
  #board {
    padding-top: 4.032px;
    padding-left: 4.032px;
    width: 100%;
    height: 280px;
    border-radius: 1.68px;
  }
}

#background-container {
  position: absolute;
}

#overlay-container {
  position: absolute;
}

.background-square {
  background-color: #cdc1b5;
  color: #857b72;
  display: inline-block;

  border-radius: 3px;
  width: 107px;
  height: 107px;
  margin: 7.2px;
}

@media (max-width: 520px) {
  .background-square {
    border-radius: 1.68px;
    width: 59.92px;
    height: 59.92px;
    margin: 4.032px;
  }
}

#overlay-container {
  position: absolute;
}

.overlay-box {
  position: absolute;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  font-weight: bold;
  text-align: center;

  font-size: 50px;
  width: 107px;
  height: 107px;
  line-height: 107px;
  letter-spacing: 2px;
  margin: 7.2px;
  border-radius: 3px;
}

@media (max-width: 520px) {
  .overlay-box {
    border-radius: 1.68px;
    width: 59.92px;
    height: 59.92px;
    line-height: 59.92px;
    letter-spacing: 1px;
    margin: 4.032px;
    border-radius: 1.68px;
    font-size: 35px;
  }
}

.b2 {
  background-color: #eee4da;
  color: #776e65;
}

.b4 {
  background-color: #ede0c8;
  color: #776e65;
}

.b8 {
  background-color: #f2b179;
  color: #f9f6f2;
}

.b16 {
  background-color: #f59563;
  color: #f9f6f2;
}

.b32 {
  background-color: #f67c5f;
  color: #f9f6f2;
}

.b64 {
  background-color: #f65e3b;
  color: #f9f6f2;
}

.b128 {
  background-color: #edcf72;
  color: #f9f6f2;
}

.b256 {
  background-color: #edcc61;
  color: #f9f6f2;
}

.b512 {
  background-color: #edc850;
  color: #f9f6f2;
}

.b128,
.b256,
.b512 {
  font-size: 44px;
}

@media (max-width: 520px) {
  .b128,
  .b256,
  .b512 {
    font-size: 25px;
  }
}

.b1024 {
  background-color: #edc53f;
  color: #f9f6f2;
}

.b2048 {
  background-color: #edc22e;
  color: #f9f6f2;
}

.b4096 {
  background-color: #3d3b31;
  color: #f9f6f2;
}

.b1024,
.b2048,
.b4096 {
  font-size: 32px;
}

@media (max-width: 520px) {
  .b1024,
  .b2048,
  .b4096 {
    font-size: 15px;
  }
}

.bounce-effect {
  animation: pop-in 0.5s;
}

.merge-effect {
  animation: pop-out 0.1s;
}

.fade-effect {
  animation: fade-out 0.5s forwards;
}

#gameover-overlay {
  position: relative;
  font-size: 57.5px;
  font-weight: bold;
  top: 200px;
  left: 90px;
  animation: move-up 1.5s 0.5s ease-in-out forwards;
}

@media (max-width: 520px) {
  #gameover-overlay {
    font-size: 30px;
    top: 120px;
    left: 50px;
    animation: move-up 1.5s 0.5s ease-in-out forwards;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes move-up {
  0% {
    top: 120px;
  }

  100% {
    top: 60px;
  }
}

@keyframes pop-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes pop-in {
  0% {
    opacity: 1;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

@keyframes score-move-up {
  0% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: -20px;
    opacity: 0;
  }
}

#score-animation {
  color: pink;
  position: absolute;
  top: 20px;
  font-size: 30px;
  animation: score-move-up 1s linear;
}

@media (max-width: 520px) {
  #score-animation {
    font-size: 20px;
    animation: score-move-up 1s linear;
  }
}
